.footer__column-link {
    color: white;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer__column-link:hover{
    opacity: 0.5;
    transition: transform 1.5s ease-out;
  }