.kaufman{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: baseline;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #1f1f1f;
    overflow: hidden;
  }